/* Works on Firefox */
* {
  scrollbar-width: 1em;
  scrollbar-color: #3d4a4a #f5f5f5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px !important;
}

*::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 100vw;
}

*::-webkit-scrollbar-thumb {
  background-color: #345454;
  border-radius: 100vw;
}
